.jimu-widget-about-setting{
  margin:0;
  padding:0;
  font-size:14px;
  margin-top: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.jimu-widget-about-setting .instruction span{
	color: #596679;
}
.jimu-widget-about-setting .editor-container{
	position: absolute;
	top: 34px;
	bottom: 5px;
	left: 0;
	right: 0;
	border: 1px solid #d2dae2;
	background-color: #fafafc;
}
.jimu-widget-about-setting .editor-container .uploaderInsideNode embed {
	display: none;
}
.jimu-widget-about-setting .editor-container .dijitEditorIFrameContainer{
	position: absolute;
	top: 58px;
	bottom: 0;
	left: 0;
	right: 0;
}