<div class="search-bbox-option">
  <div data-dojo-attach-point="bboxSection" class="switch-toggle-group">
    <label class="checkbox-inline">
      <input id="${id}_bboxId"
	      data-dojo-type="dijit/form/CheckBox"
	      data-dojo-attach-point="bboxToggle"
	      data-dojo-attach-event="onClick: bboxClicked"
	      data-dojo-props="class: 'switch-toggle'"
        title="${i18n.search.bboxOption.bbox}"/>
      <span class="label-text">${i18n.search.bboxOption.bbox}</span>
    </label>
  </div>
</div>
