<div class="search-box2">
	<input type="text" class="search-textbox"
		placeholder="${i18n.search.searchBox.placeholder}"
		data-dojo-attach-point="searchTextBox"
	><button class="btn btn-confirm" type="button"
		data-dojo-attach-point="searchButton"
		data-dojo-attach-event="onClick: searchButtonClicked"
		title="${i18n.search.searchBox.search}"
		><span class="esri-icon-search"></span>
	</button>
<!--
<div class="search-box">
	<div class="input-group">
		<input type="text" class="search-textbox"
			placeholder="${i18n.search.searchBox.placeholder}"
			data-dojo-attach-point="searchTextBox">
    <span class="search-btn">
			<button class="btn btn-clear hidden" type="button"
				data-dojo-attach-point="clearButton"
				data-dojo-attach-event="onClick: clearButtonClicked">
				<span class="esri-icon-close"></span>
			</button>
			<button class="btn btn-confirm" type="button"
				data-dojo-attach-point="searchButton"
				data-dojo-attach-event="onClick: searchButtonClicked"
				title="${i18n.search.searchBox.search}"
				><span class="esri-icon-search"></span>
			</button>
		</span>
	</div>
</div>
-->
</div>
