@import url("icon-styles.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url("panels/FoldablePanel/style.css");
@import url("panels/DockablePanel/style.css");
@import url("tooltipDialog.css");
/********** styles for simple panel***********/
/*.jimu-simple-panel{
  border-radius: 4px;
}


.jimu-widget-onscreen-icon{
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.jimu-widget-onscreen-icon.jimu-state-selected{
  filter: alpha(opacity=100);
  opacity: 1;
}

.jimu-on-screen-widget-panel>.jimu-panel-title{
  background-color: #fff;
  border-bottom: 1px solid #cdcdcd;
  color: #000;
  box-shadow: 0 0 0 !important;
}

.jimu-on-screen-widget-panel>.jimu-panel-title>.close-btn{
  background: url(../../jimu.js/css/images/black_close_default.png) no-repeat center center;
}

*/